 <!-- Start Nav Section -->
 <header class="p-1 bg-dark text-white sticky-top">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container">
            <div class="col-md-2">
                <a href="/" class="text-white text-decoration-none">
                    <h4 class="m-0"><i class="fas fa-store-alt bi me-2 fa-lg"></i>Shop</h4>
                </a>
            </div>
            
            <div class="d-none col-md-8 d-md-block">
                <div class="input-group">
                    <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append border-0">
                        <button class="btn  bg-white" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 d-flex flex-row-reverse">
                <div class="badge badge-light bg-danger h-25">4</div>
                <a href="/" class="text-white text-decoration-none">
                    <h4 class="m-0">
                        <i class="fas fa-cart-plus bi me-2 fa-lg"></i>
                    </h4>
                </a>
                
            </div>
        </div>  
    </nav>
  </header>
  <!-- End Nav Section -->
  