<!-- Start Nav Products Section -->
<section class="bg-white text-dark">
  <nav class="container ">
      <div class="text-center d-flex flex-row justify-content-center">
          <div class="px-3 py-2 ">
              <a href="/" class="text-dark text-decoration-none ">
              <i class="fas fa-box-open bi me-2 fa-lg"></i>
              <p class="m-0 d-none d-md-block">All Products</p>
              </a>
          </div>
          <div class="px-3 py-2 ">
              <a href="/" class="text-dark text-decoration-none">
              <i class="fas fa-plug bi me-2 fa-lg"></i>
              <p class="m-0 d-none d-md-block">Electronics</p>
              </a>
          </div>
          <div class="px-3 py-2 ">
              <a href="/" class="text-dark text-decoration-none">
              <i class="fas fa-tshirt bi me-2 fa-lg"></i>
              <p class="m-0 d-none d-md-block">Fashion</p>
              </a>
          </div>
          <div class="px-3 py-2 ">
              <a href="/" class="text-dark text-decoration-none">
              <i class="fas fa-gem bi me-2 fa-lg"></i>
              <p class="m-0 d-none d-md-block">Jewelry</p>
              </a>
          </div>
          
      </div>  
  </nav>
  </section>
  <!-- End Nav Products Section -->